/* Style.css */
body {background-image: url("Bakgrunn.jpg") ;background-repeat: no-repeat;background-size: 2000px 1500px;
}
p {color:white;}
ul {color:white;}
h2 {color:rgb(30, 255, 0)}
h1 {color:rgb(30, 255, 0)}
h1 {background-color:rgba(37, 37, 37, 0.918);}
h1 {font-size:100px;}
h1 {font-family:verdana}
h2 {font-family:verdana}
p {font-family:verdana}
li {font-family:verdana}
div {background-color:rgb(37, 37, 37, 0.918);color;white;padding 50px;"}