body {
    text-align: center;
}

h1 {
    letter-spacing: 3px;
    font-family: "Arial";
    font-size: 40px;
    color:mediumpurple
}

h2{
    font-family: "Arial";
    font-size: 19px;
}

h4 {
    font-family: "Arial";
}

p {
    font-family: "Arial";
    color:darkorchid
}

marquee {
    font-family: "Arial";
}

li {
    font-family: "Arial";
}

.container img {
    width: 35%;
    height: auto;
}